
.sales-last{
    width: 100% !important;
    margin-top: 15px !important;
}

.sales-income{
    width: 100% !important;
    margin-top: 15px !important;
}
.last-month{
    width: 100% !important;
    margin-top: 15px !important;
}
.total-revenue{
    width: 100% !important;
    margin-top: 15px !important;
}

