 <div>
    <Sidebar class="sidebar"></Sidebar>
    <Navbar class="navbar"></Navbar>

    <b-container class="bv-example-row" style="margin-left: 0; margin-right: 0; margin-bottom: 10px; margin-top: 10px;" fluid>
        <b-row>
            <b-col cols="12" md="12" lg="12" xl="12" sm="12"><Analytics class="analytics"></Analytics></b-col>
          <b-col cols="12" md="6" lg="6" xl="3" sm="12"><sales-last class="sales-last"></sales-last></b-col>
          <b-col cols="12" md="6" lg="6" xl="3" sm="12"><sales-income class="sales-income"></sales-income></b-col>
          <b-col cols="12" md="6" lg="6" xl="3" sm="12"><last-month class="last-month"></last-month></b-col>
        <b-col cols="12" md="6" lg="6" xl="3" sm="12"><total-revenue class="total-revenue"></total-revenue></b-col>
        <b-col cols="12" md="12" lg="12" xl="12" sm="12"><dynamic-tables class="dynamic-tables"></dynamic-tables></b-col>
        </b-row>
      </b-container>
</div>